[submodule "third_party/unitree_sdk2"]
	path = third_party/unitree_sdk2
	url = https://github.com/unitreerobotics/unitree_sdk2.git
[submodule "third_party/unitree_ros2"]
	path = third_party/unitree_ros2
	url = https://github.com/unitreerobotics/unitree_ros2.git
[submodule "third_party/service-map-rbnx"]
	path = third_party/service-map-rbnx
	url = https://github.com/syswonder/service-map-rbnx.git
[submodule "third_party/service-navigation-rbnx"]
	path = third_party/service-navigation-rbnx
	url = https://github.com/syswonder/service-navigation-rbnx.git
